#wrap-archive {
  display: flex;
  width: 100vw;
  height: 2000px;
  overflow-x: clip;
  position: relative;

  .box-wall {
    border: solid 10px red;
    width: 100vw;
    height: calc(100vh - 100px);
    position: fixed;
    top: 100px;
    left: 0;
    overflow-x: clip;

    .wall {
      width: 3000px;
      height: 100%;
      background: url(../images/wall_mint.png) repeat-x;
      background-size: contain;

      img> {
        width: 3000px;
      }

      .chair {
        position: fixed;
        width: 25vw;
        left: 30px;
        bottom: 0;

        img {
          display: block;
          width: 100%;
        }
      }

      .item {
        .frame-small {
          width: 200px;

          img {
            display: block;
            width: 100%;
          }
        }

        .heart {
          position: absolute;
          left: 20%;
          top: 10%;
        }

        .frame {
          position: absolute;
          top: 0;
          left: 0;
        }

        .photo {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}