#wrap-archive {
  display: flex;
  width: 100vw;
  height: 3000px;
  overflow-x: clip;
  position: relative;

  .box-wall {
    width: 100vw;
    height: calc(100vh - 100px);
    position: fixed;
    top: 100px;
    left: 0;
    overflow-x: clip;

    .chair {
      position: fixed;
      width: 350px;
      left: 0px;
      bottom: 0;
      z-index: 1;
      filter: drop-shadow(10px 0 6px #00000066);

      img {
        display: block;
        width: 100%;
      }
    }

    .console {
      position: fixed;
      width: 550px;
      left: 450px;
      bottom: 11vh;
      z-index: 1;
      filter: drop-shadow(10px 0 6px #00000066);

      img {
        display: block;
        width: 100%;
      }
    }

    .wall {
      width: 3300px;
      height: 100%;
      background: url(../assets/images/wall_mint.png) repeat-x bottom -30px left;
      background-size: cover;

      img > {
        width: 3000px;
      }

      .item {
        .frame-small {
          width: 200px;
          filter: drop-shadow(3px 3px 5px #00000088);
          justify-items: center;

          img {
            display: block;
            width: 100%;
          }

          .wrap-frame {
            height: 150px;
          }

          .photo-description {
            background: #fff;
            width: 40%;
            font-size: 8px;
            padding: 2px 3px;
            position: relative;
            top: 0.5rem;
          }
        }

        .frame1 {
          position: absolute;
          left: 2%;
          top: 7%;
        }

        .frame2 {
          position: absolute;
          left: 12%;
          top: 17%;
        }

        .frame3 {
          position: absolute;
          left: 22%;
          top: 2%;
        }

        .frame4 {
          position: absolute;
          left: 22%;
          top: 27%;
        }

        .heart {
          position: absolute;
          left: 32%;
          top: 17%;

          .photo {
            aspect-ratio: 1 / 0.9;
            border-radius: 110px 110px 160px 160px;
          }
        }

        .frame5 {
          position: absolute;
          left: 42%;
          top: 2%;

          .photo {
            object-position: 0 -25px;
          }
        }

        .frame6 {
          position: absolute;
          left: 42%;
          top: 27%;
        }

        .frame {
          filter: saturate(0.8);
          position: absolute;
          top: 0;
          left: 0;
        }

        .photo {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          padding: 20px;
          aspect-ratio: 4 / 3;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #wrap-archive {
    height: 4200px;
  }

  .chair {
    display: none;
  }

  #wrap-archive .box-wall .console {
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
  }
}
