#wrap-archive {
  display: flex;
  width: 100vw;
  height: 4000px;
  overflow-x: clip;
  position: relative;

  .box-wall {
    width: 100vw;
    height: calc(100vh - 100px);
    position: fixed;
    top: 100px;
    left: 0;
    overflow-x: clip;

    .chair {
      position: fixed;
      width: 450px;
      left: 0px;
      bottom: 4vh;
      z-index: 1;

      img {
        display: block;
        width: 100%;
      }
    }

    .console {
      position: fixed;
      width: 450px;
      left: 50%;
      bottom: 11vh;
      z-index: 1;
      transform: translate(-50%);

      img {
        display: block;
        width: 100%;
      }
    }

    .wall {
      width: 3000px;
      height: 100%;
      background: url(../images/wall_mint.png) repeat-x;
      background-size: contain;

      img> {
        width: 3000px;
      }



      .item {
        .frame-small {
          width: 200px;

          img {
            display: block;
            width: 100%;
          }
        }

        .frame1 {
          position: absolute;
          left: 10%;
          top: 7%;
        }

        .frame2 {
          position: absolute;
          left: 20%;
          top: 17%;
        }

        .frame3 {
          position: absolute;
          left: 30%;
          top: 2%;
        }

        .frame4 {
          position: absolute;
          left: 30%;
          top: 27%;
        }

        .heart {
          position: absolute;
          left: 40%;
          top: 17%;

          .photo {
            aspect-ratio: 1 / 0.9;
            border-radius: 110px 110px 160px 160px;
          }
        }

        .frame5 {
          position: absolute;
          left: 50%;
          top: 2%;

          .photo {
            object-position: 0 -25px;
          }
        }

        .frame6 {
          position: absolute;
          left: 50%;
          top: 27%;
        }

        .frame {
          filter: saturate(0.8);
          position: absolute;
          top: 0;
          left: 0;
        }

        .photo {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          padding: 20px;
          aspect-ratio: 4 / 3;
        }
      }
    }
  }
}