/* global style css */
:root {
  --body-background: url(./assets/images/bg_dreamy_pink.png) no-repeat;
  /* --body-background: url(../public/images/bg_dreamy_pink.png) no-repeat; */
  /* public/images */
  --body-color: #0a093f;
  --link-color: dodgerblue;
}

[data-theme='dark'] {
  --body-background: url(./assets/images/bg_dark_galaxy.png) no-repeat;
  --body-color: #cae3fb;
  --link-color: cyan;
}

* {
  transition: background 0.3s ease-in-out;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

html,
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: clip;
}
